@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.logo-container {
  width: 180px;
}
.navigation {
  border-bottom: 1px solid #e1e1e1;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btn {
  border: 0;
  display: block;
  display: flex;

  justify-content: center;

  align-items: center;
  overflow: hidden;

  width: 200px;
  height: 35px;
  transition: all 0.2s ease, visibility 0s;
  background: #684aa8;
  color: #fff;
  font-weight: 700;
  padding: 5px 20px;
  cursor: pointer;
}

.table-component-container {
  max-width: 100%;
  overflow-x: scroll;
}
.table-component-container::-webkit-scrollbar {
  display: none;
}

table {
  border: 1px solid #e1e1e1;
  /* word-wrap: break-word; */
  border-collapse: collapse;

  margin-bottom: 30px;
}

.table-container h3 {
  margin: 20px 0;
}

.sort-icon {
  height: 15px;
  width: 15px;
}

.profile-container {
  display: flex;
  align-items: center;
}


.table-container {
  padding: 20px;
}

.icon-container {
  cursor: pointer;
}
.profile {
  display: inline-block;
  width: 25px;
  height: 25px;
  /* border: 1px solid #747474; */
  border-radius: 50%;

  margin-right: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail-address {
  text-decoration: underline;
  color: #0071cc;
  cursor: pointer;
}

table tr th {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 170%;
  color: #383838;
  width: 175px;
  min-width: 175px;
  height: 40px;
  border: 1px solid #e1e1e1;

  border-collapse: collapse;
  padding-left: 10px;
}
table tr td {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  /* width: 175px; */
  height: 40px;
  color: #383838;
  border: 1px solid #e1e1e1;

  border-collapse: collapse;
  padding-left: 10px;
}

.email-column {
  width: 220px;
  min-width: 220px;
}

.table-container table tr:nth-child(even) {
  background: #f5f5f5;
}


@media only screen and (max-width: 400px){
  .nav-container{
    flex-direction: column;
    padding: 10px 0;
  }
}